* {
    margin: 0 auto;
    padding: 0;
    font-family: Roboto, sans-serif;
}

p {
    font-size: 18px;
    font-weight: 600;
    margin: 0;
    display: flex;
    align-items: center;
}

input {
    font-size: 16px;
    margin: 0;
}

a {
    font-size: 26px;
}

button {
    font-size: 16px;
}

.main {
    width: 700px;
}

.nav {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 4px;
    margin: 16px 0px 5px 0px;
}

.step {
    margin: 0;
    background: #d4d4d4;
    padding: 5px 10px 5px 10px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 6px;
}

.step-face {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 6px;
}

.div {
    margin: 0;
    display: flex;
    gap: 10px;
    cursor: pointer;
}

.probarea {
    margin-bottom: 24px;
}

.probs {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
}

.divhide {
    font-size: 15px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.org {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.inputs {
    margin-bottom: 10px;
}

.button {
    user-select: none;
    cursor: pointer;
    padding: 4px 8px 4px 8px;
}

.apply-btn {
    text-align: end;
    border: 1px solid var(--color-pattern-0); 
    border-radius: 6px;
    margin-right: 12px;
    font-size: 15px;
    color: #494949;
}

.area-cards {
    width: 200px;
    margin-right: 8px;
}
